@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

.TextField-without-border-radius fieldset {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0
}


